<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Book</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <% if(session.user_id) { %>
        <h1>Edit</h1>
        <hr>
        
        <form action="/user/edit/callback" method="post">
            <p>Start time :</p>
            <select id="start_hour" name="start_hour">
                <option value="0:00:00">0:00:00</option>
                <option value="1:00:00">1:00:00</option>
                <option value="2:00:00">2:00:00</option>
                <option value="3:00:00">3:00:00</option>
                <option value="4:00:00">4:00:00</option>
                <option value="5:00:00">5:00:00</option>
                <option value="6:00:00">6:00:00</option>
                <option value="7:00:00">7:00:00</option>
                <option value="8:00:00">8:00:00</option>
                <option value="9:00:00">9:00:00</option>
                <option value="10:00:00">10:00:00</option>
                <option value="11:00:00">11:00:00</option>
                <option value="12:00:00">12:00:00</option>
                <option value="13:00:00">13:00:00</option>
                <option value="14:00:00">14:00:00</option>
                <option value="15:00:00">15:00:00</option>
                <option value="16:00:00">16:00:00</option>
                <option value="17:00:00">17:00:00</option>
                <option value="18:00:00">18:00:00</option>
                <option value="19:00:00">19:00:00</option>
                <option value="20:00:00">20:00:00</option>
                <option value="21:00:00">21:00:00</option>
                <option value="22:00:00">22:00:00</option>
                <option value="23:00:00">23:00:00</option>
                <option value="24:00:00">24:00:00</option>
            </select>
            <p>End time :</p>
            <select id="end_hour" name="end_hour">
                <option value="0:00:00">0:00:00</option>
                <option value="1:00:00">1:00:00</option>
                <option value="2:00:00">2:00:00</option>
                <option value="3:00:00">3:00:00</option>
                <option value="4:00:00">4:00:00</option>
                <option value="5:00:00">5:00:00</option>
                <option value="6:00:00">6:00:00</option>
                <option value="7:00:00">7:00:00</option>
                <option value="8:00:00">8:00:00</option>
                <option value="9:00:00">9:00:00</option>
                <option value="10:00:00">10:00:00</option>
                <option value="11:00:00">11:00:00</option>
                <option value="12:00:00">12:00:00</option>
                <option value="13:00:00">13:00:00</option>
                <option value="14:00:00">14:00:00</option>
                <option value="15:00:00">15:00:00</option>
                <option value="16:00:00">16:00:00</option>
                <option value="17:00:00">17:00:00</option>
                <option value="18:00:00">18:00:00</option>
                <option value="19:00:00">19:00:00</option>
                <option value="20:00:00">20:00:00</option>
                <option value="21:00:00">21:00:00</option>
                <option value="22:00:00">22:00:00</option>
                <option value="23:00:00">23:00:00</option>
                <option value="24:00:00">24:00:00</option>
            </select>
            <p>Day</p>
            <input name="day" id="day" type="date" required><br>
            <p>Position :</p>
            <input name="position" id="position" type="text" required>
            
            <br><br>
            <input name="voice" id="voice" value="1" type="radio">
            <label for="voice">Voice</label><br>
            <input name="training" id="training" value="1" type="radio">
            <label for="training">Training</label><br>
            <input name="event" id="event" value="1" type="radio">
            <label for="event">Event</label><br><br>
            <input name="submit" id="submit" type="submit">
        </form>
    <% } else { %>
        <div>
            <p>You do connected before edit an book ! Return to <a href="/">home</a></p>
        </div>
    <% } %>
</body>
</html>