<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <% if(session.user_id) { %>
        <h4>Hi <%= session.user_id %>, Welcome</h4>

        <br><br>

        <label>ATCS Calendar</label>
        <input type="date" id="atc-calendar">
        <a id="search" href="#">Search</a>

        <script>
            let dataCalendar = document.getElementById('atc-calendar');

            dataCalendar.addEventListener('change', () => {
                search.href = `/api/calendar/${dataCalendar.value}`;
            });

            search.href = `/api/calendar/`;
        </script>

        <br><br>

        <a href="/user/profile">My Informations</a>
        <a href="/atcs">Reservation ATCS</a>
        <a href="/connexion/logout">Logout</a>
    <% } else { %>
        <h4>Hi Anonymous user</h4>
        <div class="register_login">
            <a href="/connexion/register">Register page</a>
            <a href="/connexion/login">Login page</a>
        </div>
    <% } %>
</body>
</html>